In [1]:
import pandas as pd

data = pd.read_csv("suiciderate.csv")

In [3]:
# Visualizing Data on Terminal

print(data.head())
print(data.tail())
print(data.shape)
print(data.describe())
print(data.info())
print(data.isnull().sum())

   country    year     sex          age  suicides_no  population  \
0  Albania  1987.0    male  15-24 years         21.0    312900.0
1  Albania  1987.0    male  35-54 years         16.0    308000.0
2  Albania  1987.0  female  15-24 years         14.0    289700.0
3  Albania  1987.0    male    75+ years          1.0     21800.0
4  Albania  1987.0    male  25-34 years          9.0    274300.0

   suicides/100k pop country-year  HDI for year  gdp_for_year ($)   \
0               6.71  Albania1987           NaN      2,156,624,900
1               5.19  Albania1987           NaN      2,156,624,900
2               4.83  Albania1987           NaN      2,156,624,900
3               4.59  Albania1987           NaN      2,156,624,900
4               3.28  Albania1987           NaN      2,156,624,900

   gdp_per_capita ($)       generation
0               796.0     Generation X
1               796.0           Silent
2               796.0     Generation X
3               796.0  G.I. Generation
4               796.0          Boomers
                            country    year     sex          age  suicides_no  \
21788  Saint Vincent and Grenadines  2004.0    male  55-74 years          1.0
21789  Saint Vincent and Grenadines  2004.0    male  35-54 years          2.0
21790  Saint Vincent and Grenadines  2004.0    male  25-34 years          1.0
21791  Saint Vincent and Grenadines  2004.0  female  15-24 years          0.0
21792      Saint Vincent and Grenad     NaN     NaN          NaN          NaN

       population  suicides/100k pop                      country-year  \
21788      5030.0              19.88  Saint Vincent and Grenadines2004
21789     13116.0              15.25  Saint Vincent and Grenadines2004
21790      8823.0              11.33  Saint Vincent and Grenadines2004
21791     10459.0               0.00  Saint Vincent and Grenadines2004
21792         NaN                NaN                               NaN

       HDI for year  gdp_for_year ($)   gdp_per_capita ($)    generation
21788           NaN        521,975,111              5286.0        Silent
21789           NaN        521,975,111              5286.0       Boomers
21790           NaN        521,975,111              5286.0  Generation X
21791           NaN        521,975,111              5286.0    Millenials
21792           NaN                NaN                 NaN           NaN
(21793, 12)
               year   suicides_no    population  suicides/100k pop  \
count  21792.000000  21792.000000  2.179200e+04       21792.000000
mean    2001.110683    219.705993  1.576187e+06          12.453746
std        8.481671    869.598608  3.173180e+06          18.908068
min     1985.000000      0.000000  2.780000e+02           0.000000
25%     1994.000000      2.000000  8.498125e+04           0.760000
50%     2001.000000     21.000000  3.964000e+05           5.520000
75%     2008.000000    117.000000  1.302190e+06          16.092500
max     2016.000000  22338.000000  2.846186e+07         224.970000

       HDI for year  gdp_per_capita ($)
count   6468.000000        21792.000000
mean       0.776221        16570.762757
std        0.093155        18632.113493
min        0.483000          251.000000
25%        0.714000         3501.500000
50%        0.782000         9467.500000
75%        0.851000        24172.000000
max        0.944000       126352.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21793 entries, 0 to 21792
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             21793 non-null  object
 1   year                21792 non-null  float64
 2   sex                 21792 non-null  object
 3   age                 21792 non-null  object
 4   suicides_no         21792 non-null  float64
 5   population          21792 non-null  float64
 6   suicides/100k pop   21792 non-null  float64
 7   country-year        21792 non-null  object
 8   HDI for year        6468 non-null   float64
 9    gdp_for_year ($)   21792 non-null  object
 10  gdp_per_capita ($)  21792 non-null  float64
 11  generation          21792 non-null  object
dtypes: float64(6), object(6)
memory usage: 2.0+ MB
None
country                   0
year                      1
sex                       1
age                       1
suicides_no               1
population                1
suicides/100k pop         1
country-year              1
HDI for year          15325
 gdp_for_year ($)         1
gdp_per_capita ($)        1
generation                1
dtype: int64

In [29]:
data.columns = data.columns.str.strip()
type_verification = data['gdp_per_capita ($)'].dtype
print(type_verification) # returns float64
data['gdp_per_capita ($)']=pd.to_numeric(data['gdp_per_capita ($)'])
type_verification_2 = data['gdp_for_year ($)'].dtype
if type_verification_2 == 'object':
  data['gdp_for_year ($)'] = data[' gdp_for_year ($) '].str.replace(',', '')
  data['gdp_for_year ($)'] = pd.to_numeric(data['gdp_for_year ($)'])
else:
  print("already a numeric") #returns this
data['suicide-to-GDP-ratio']=data['suicides_no']/data['gdp_for_year ($)']
data['suicide-to-GDP-ratio']

float64
already a numeric

0        9.737437e-09
1        7.419000e-09
2        6.491625e-09
3        4.636875e-10
4        4.173187e-09
             ...
21788    1.915800e-09
21789    3.831600e-09
21790    1.915800e-09
21791    0.000000e+00
21792             NaN
Name: suicide-to-GDP-ratio, Length: 21793, dtype: float64

In [34]:
age_grouped = data.groupby('age').agg({
    'suicides_no': 'sum',
    'population': 'sum'
})
age_grouped['suicide-to-population-ratio'] = age_grouped['suicides_no'] / age_grouped['population'] *100000
age_grouped['suicide-to-population-ratio']

age
15-24 years     9.347510
25-34 years    13.765095
35-54 years    18.297363
5-14 years      0.630047
55-74 years    20.745503
75+ years      27.726114
Name: suicide-to-population-ratio, dtype: float64

In [40]:
countries=data.groupby('country').agg({
    'suicides_no': 'sum',
    'population': 'sum'
})

countries['suicide-to-population-ratio'] = countries['suicides_no'] / countries['population'] *100
countries['suicide-to-population-ratio'].dropna()
countries['suicide-to-population-ratio'].sort_values(ascending=True)
countries

,suicides_no,population,suicide-to-population-ratio
country,,,
Albania,1970.0,6.232547e+07,0.003161
Antigua and Barbuda,11.0,1.990228e+06,0.000553
Argentina,82219.0,1.035985e+09,0.007936
Armenia,1905.0,7.734817e+07,0.002463
Aruba,101.0,1.259677e+06,0.008018
...,...,...,...
Russian Federation,1209742.0,3.690803e+09,0.032777
Saint Kitts and Nevis,0.0,1.173000e+05,0.000000
Saint Lucia,230.0,3.910520e+06,0.005882
Saint Vincent and Grenad,0.0,0.000000e+00,NaN
Saint Vincent and Grenadines,69.0,1.276051e+06,0.005407

In [47]:
gdp_grouped = data.groupby('gdp_for_year ($)').agg({
    'suicides_no': 'sum',
    'population': 'sum'
})
gdp_grouped['suicide_rate'] = (gdp_grouped['suicides_no'] / gdp_grouped['population']) * 100000
gdp_grouped = gdp_grouped.dropna()
gdp_grouped['suicide_rate'].sort_values(ascending=True)

gdp_for_year ($)
2.409239e+08     0.000000
2.294345e+08     0.000000
3.371749e+08     0.000000
2.098810e+08     0.000000
5.894296e+08     0.000000
                  ...
1.427836e+10    47.366184
1.012027e+10    48.509737
1.153921e+10    49.198748
7.870782e+09    50.012562
8.385109e+09    51.019758
Name: suicide_rate, Length: 1819, dtype: float64

In [51]:
sex_grouped = data.groupby('sex').agg({
    'suicides_no': 'sum',
    'population': 'sum',
    'suicides/100k pop': 'mean'
}).reset_index()

sex_grouped['suicide_rate_calculated'] = (sex_grouped['suicides_no'] / sex_grouped['population']) * 100000

male_rate = sex_grouped.loc[sex_grouped['sex'] == 'male', 'suicide_rate_calculated'].values[0]
female_rate = sex_grouped.loc[sex_grouped['sex'] == 'female', 'suicide_rate_calculated'].values[0]
ratio = male_rate / female_rate
difference = male_rate - female_rate

difference

np.float64(15.38471079315108)

In [58]:
generation_grouped = data.groupby('generation').agg({
    'suicides_no': 'sum',
    'population': 'sum',
})

generation_grouped['suicide_rate_calculated'] = (generation_grouped['suicides_no'] / generation_grouped['population']) * 100000
generation_grouped = generation_grouped.sort_values('suicide_rate_calculated', ascending=True)
max_row = generation_grouped['suicide_rate_calculated'].idxmax()
max_row

'G.I. Generation'